/* Carica il font da Google Fonts */

body {
    font-family: "Bodoni Moda", serif;
    font-style: normal;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #006888;
    color: #ffecd5;
    padding: 10px 20px;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Footer styling */
footer {
    background-color: #006888;
    color: #ffecd5;
    font-size: 0.8em;
    padding: 10px 10px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left,
.footer-right {
    width: 45%;
}

.footer-left ul {
    list-style-type: none;
    padding: 0;
}

.footer-left ul li {
    margin: 1px 0;
}

.footer-right {
    text-align: right;
}

.social-icon {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    vertical-align: middle;
}

footer a {
    color: #1e90ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.7em;
}

main {
    padding: 20px;
    margin: 20px;
}

.hero-section {
    text-align: center;
    padding: 50px 20px;
}

.hero-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero-image {
    width: 80%;
    max-width: 800px;
    height: auto;
    border-radius: 5px;
}

.homepage-title {
    background-color: #e5e5e5;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Per schermi piccoli (fino a 768px) */
@media (max-width: 768px) {
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden; /* Rimuove lo scroll orizzontale */
    }

    /* Forza il layout a larghezza piena per header e footer */
    header, footer {
        width: 100%;
        box-sizing: border-box;
    }

    /* Rimuove padding e margini sul main */
    main {
        padding: 0;
    }

    /* Rimuove i margini laterali dalle sezioni per il mobile */
    section {
        max-width: 100%; /* Rimuove il limite di larghezza */
        margin: 0; /* Rimuove i margini laterali */
    }

    /* Forza la visualizzazione del sito in modalità desktop */
    html {
        touch-action: manipulation; /* Evita il pinch to zoom */
    }
}

/* Per schermi più grandi (desktop) */
@media (min-width: 769px) {
    section {
        max-width: 80%; /* Lascia i margini laterali su desktop */
        margin: 0 auto; /* Allinea la sezione al centro */
    }
}


