{% extends 'base.html' %}

{% block title %}Pubblicazioni e premi{% endblock %}

{% block content %}
<section style="max-width: 100%; margin: 0 auto;">
    
    <!-- Titolo principale con sfondo crema e testo blu scuro -->
    <div style="padding: 15px; text-align: center; 
                font-size: 30px; font-weight: bold; color: #006888;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); border-radius: 6px;">
        PUBBLICAZIONI E PREMI
    </div><br>

    <!-- Sezione Premi -->
    <div style="background: rgba(245, 241, 233, 0.5); padding: 20px; border-radius: 6px; margin-bottom: 40px;">
        <h2 style="text-align: center; color: #006888; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">PREMI</h2>
        <ul>
            <li><strong>Premio Giovani per la Clinica 2024</strong><br>
                Federazione Italiana Associazioni di Psicoterapia. X Congresso, 4-6 Ottobre 2024.<br>
                Classificazione in graduatoria: Primo<br>
                Data: 6/10/2024
            </li>
            <li><strong>Premio di Laurea. Libera Università degli studi 'Maria SS. Assunta' di ROMA</strong><br>
                “A nome del Rettore l'invito alla Cerimonia di premiazione dei laureati che hanno terminato gli studi con regolarità, pieni voti e lode (a.a. 2016-2017) che si svolgerà il 12 novembre alle ore 16.00 nell'Aula Magna del nostro Ateneo”.<br>
                Data: 12/11/2018
            </li>
        </ul>
    </div>

    <!-- Sezione Pubblicazioni e Tesi -->
    <div style="background: rgba(245, 241, 233, 0.5); padding: 20px; border-radius: 6px; margin-bottom: 40px;">
        <h2 style="text-align: center; color: #006888; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">PUBBLICAZIONI E TESI</h2>
        <ul>
            <li><strong>Manuel Luciani, L'analisi didattica dello psicoterapeuta in formazione: un'integrazione psicoanalitica all'analisi transazionale</strong><br>
                Rivista: Psichiatria e Psicoterapia<br>
                Editore: Neopsiche, 38<br>
                Luciani, M. (2025). L'analisi didattica dello psicoterapeuta in formazione: un'integrazione psicoanalitica all'analisi transazionale. Neopsiche, 38, pp. 41-62<br>
                Data: 2025
            </li>
            <li><strong>Manuel Luciani, Modalità relazionali nel lavoro clinico con l'adolescente e la sua famiglia: un punto di vista psicodinamico integrato</strong><br>
                Rivista: Psichiatria e Psicoterapia<br>
                Editore: Giovanni Fioriti Editore<br>
                Luciani, M. (2025). Modalità relazionali nel lavoro clinico con l'adolescente e la sua famiglia: un punto di vista psicodinamico integrato. Psichiatria e Psicoterapia (44) 1-2, pp. 49-75.<br>
                DOI: <a href="doi.org/10.36131/psichpsicoterapia25010204">DOI: 10.36131/psichpsicoterapia25010204</a><br>
                Data: 2025
            </li>
            <li><strong>Manuel Luciani, LA SINDROME EMERGENTE DELLA PERSONALITÀ AUTOLESIONISTICA IN ADOLESCENZA: UN’IPOTESI DIAGNOSITCA BASATA SUL PDM-2</strong><br>
                Rivista: Psichiatria e Psicoterapia<br>
                Editore: Giovanni Fioriti Editore<br>
                Luciani, M. (2024). La sindrome emergente della personalità autolesionistica in adolescenza: un'ipotesi diagnostica basata sul PDM-2. Psichiatria e psicoterapia. 43 (1) 30-48.<br>
                DOI: <a href="https://doi.org/10.36131/psichpsicoterapia240102">doi.org/10.36131/psichpsicoterapia240102</a><br>
                Data: 1/2024
            </li>
            <li><strong>Manuel Luciani, L’IMMAGINARIO NELLA PRATICA CLINICA: UN CASO CLINICO CON IL MODELLO DELLA PSICOTERAPIA PSICODINAMICA INTEGRATA ORIENTATA DALLA PSICOANALISI.</strong><br>
                Tesi Diploma in Psicoterapia, Istituto di Psicoterapia Psicodinamica IPPI, Firenze.<br>
                Relatore: Alessio Gori<br>
                Data: 2023<br>
            </li>
            <li><strong>Andrea Fontana, Manuel Luciani, LE ADOLESCENZE COME TRAIETTORIE ESISTENZIALI: UNA PROSPETTIVA CLINICA</strong><br>
                Titolo del libro: Manuale di psicoterapia umanistica-esistenziale (Biondi, Filastro, a cura di). Editore: Alpes.<br>
                <a href="https://www.alpesitalia.it">www.alpesitalia.it</a><br>
                Data: 2021.
            </li>
            <li><strong>Manuel Luciani, DISMORFIA MUSCOLARE: QUANDO L'IDEALE FEMMINILE DIVENTA AUTODISTRUTTIVO.</strong><br>
                Articolo divulgativo specialistico neuroscienze su rivista online.<br>
                <a href="https://www.stateofmind.it/2022/10/dismorfia-muscolare-donne/">State Of Mind</a><br>
                Data: 13/10/2022
            </li>
            <li><strong>Manuel Luciani, IL PROGETTO RIABILITATIVO PER ADULTI CON DISABILITÀ INTELLETTIVA E DISTURBO DELLO SPETTRO AUTISTICO: UNA TEORIA INTEGRATA.</strong><br>
                Articolo divulgativo specialistico neuroscienze su rivista online.<br>
                <a href="https://www.stateofmind.it/2021/12/disabilita-autismo-riabilitazione/">State Of Mind</a><br>
                Data: 20/12/2021
            </li>
            <li><strong>Manuel Luciani, RENDIMENTO SCOLASTICO IN ADOLESCENZA: METODO DI STUDIO, EMOZIONI, DIMENSIONE RELAZIONALE.</strong><br>
                Articolo divulgativo specialistico neuroscienze su rivista online.<br>
                <a href="https://www.stateofmind.it/2018/10/rendimento-scolastico-adolescenti/">State Of Mind</a><br>
                Data: 24/10/2018
            </li>
            <li><strong>Manuel Luciani, SEX YOU CAN: QUANDO PARLARNE È MEGLIO CHE VERGOGNARSI.</strong><br>
                Articolo divulgativo.<br>
                <a href="https://iissweb.it/sexlog/sex-you-can-quando-parlarne-e-meglio-che-vergognarsi/">Istituto Italiano di Sessuologia Scientifica</a><br>
                Data: 19/3/2018
            </li>
            <li><strong>Manuel Luciani, DISTURBI ALIMENTARI E PSICOSESSUOLOGIA: QUELLO CHE IL MEDICO NON VEDE.</strong><br>
                Articolo divulgativo.<br>
                <a href="https://iissweb.it/disturbi-alimentari-psicosessuologia-quello-medico-non-vede/">Istituto Italiano di Sessuologia Scientifica</a><br>
                Data: 7/3/2018
            </li>
            <li><strong>Manuel Luciani, EIACULAZIONE PRECOCE: QUANDO LA MEDICINA SI CHIAMA 'AMORE'.</strong><br>
                Articolo divulgativo.<br>
                <a href="https://iissweb.it/eiaculazione-precoce-la-medicina-si-chiama-amore/">Istituto Italiano di Sessuologia Scientifica</a><br>
                Data: 16/2/2018
            </li>
            <li><strong>Manuel Luciani, Fausto Maria Bonifacio, INCESTO E DISTURBO BORDERLINE DI PERSONALITÀ: SEMPRE IN BILICO.</strong><br>
                Articolo divulgativo.<br>
                <a href="https://iissweb.it/incesto-disturbo-borderline-personalita-sempre-bilico/">Istituto Italiano di Sessuologia Scientifica</a><br>
                Data: 8/2/2018
            </li>
            <li><strong>Manuel Luciani, TRA SESSO E POTERE: IL RAPPORTO TRA POTERE E MOLESTIE SU LUOGO DI LAVORO.</strong><br>
                Articolo divulgativo.<br>
                <a href="https://iissweb.it/sesso-potere-rapporto-potere-molestie-sul-luogo-lavoro/">Istituto Italiano di Sessuologia Scientifica</a><br>
                Data: 1/2018
            </li>
                    <li><strong>Manuel Luciani, HIV E ADOLESCENZA: PREVENZIONE CON I VIDEOGIOCHI</strong><br>
                Articolo divulgativo.<br>
                <a href="https://iissweb.it/sexlog/informazione-ed-educazione/hiv-adolescenza-prevenzione-videogiochi/">Istituto Italiano di Sessuologia Scientifica</a><br>
                Data: 7/12/2017
            </li>
            <li><strong>Manuel Luciani, DONNE, MUSCOLI E SESSUALITÀ: TRA NORMALITÀ E PATOLOGIA.</strong><br>
                Articolo divulgativo.<br>
                <a href="https://iissweb.it/donne-muscoli-sessualita-normalita-patologia/">Istituto Italiano di Sessuologia Scientifica</a><br>
                Data: 26/10/2017
            </li>
            <li><strong>Manuel Luciani, CENTERFOLD SYNDROME: QUANDO IL PARTNER DIVENTA UN OGGETTO.</strong><br>
                Articolo divulgativo.<br>
                <a href="https://iissweb.it/sexlog/centerfold-syndrome-partner-diventa-un-oggetto/">Istituto Italiano di Sessuologia Scientifica</a><br>
                Data: 13/10/2017
            </li>
            <li><strong>Manuel Luciani, I MECCANISMI NEURALI DELLA TIME-BASED PROSPECTIVE MEMORY.</strong><br>
                Articolo divulgativo specialistico neuroscienze su rivista online.<br>
                <a href="https://www.stateofmind.it/2016/10/memoria-prospettica-meccanismi-neurali/">State Of Mind</a><br>
                Data: 9/10/2016
            </li>
            <li><strong>Manuel Luciani, MENTALIZZAZIONE E ORGANIZZAZIONE DI PERSONALITÀ IN ADOLESCENZA: CONTRIBUTO EMPIRICO IN UN COMPITO DI OSTRACISMO ONLINE.</strong><br>
                Istituzione: Università Lumsa<br>
                Tesi di laurea magistrale, corso di laurea psicologia clinica del ciclo di vita, LM-51. Relatore, Prof. Andrea Fontana. Correlatore, Prof. Alessio Gori.<br>
                a.a. 2016-2017
            </li>
            <li><strong>Manuel Luciani, RICORDARSI DI RICORDARE: MECCANISMI NEURALI DELLA TIME-BASED PROSPECTIVE MEMORY.</strong><br>
                Istituzione: Università Lumsa<br>
                Tesi di Laurea in Scienze e tecniche psicologiche, Classe L-24. Relatore: Prof. Marco Costanzi<br>
                a.a. 2014-2015.
            </li>
        </ul>
    </div>

    <!-- Sezione Convegni e Seminari -->
    <div style="background: rgba(245, 241, 233, 0.5); padding: 20px; border-radius: 6px; margin-bottom: 40px;">
        <h2 style="text-align: center; color: #006888; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">CONVEGNI E SEMINARI</h2>
        <ul>
            <li><strong>LA POSIZIONE PSICOANALITICA NELLA PSICOTERAPIA E NELLA FORMAZIONE DELLO PSICOTERAPEUTA</strong><br>
                Premio Giovani per l’attività clinica. X Congresso Fiap (Federeazione italiana delle associazioni di psicoterapia). 4-6 Ottobre 2024.<br>
                Premio Primo posto.<br>
                Ruolo: Relatore
            </li>
            <li><strong>LA VALUTAZIONE PSICODINAMICA INTEGRATA DELL’AUTOLESIONISMO IN ADOLESCENZA</strong><br>
                Formazione Continua in Psicologia-PESI ITALIA, Webinar.<br>
                Il Webinar avrà tra gli obiettivi quello di definire l’autolesionismo in adolescenza utilizzando gli studi della ricerca internazionale, constatando la presenza di un dibattito nella nosografia e nella classificazione del disturbo.<br>
                Ruolo: Docente<br>
                Data: 10/9/2024
            </li>
            <li><strong>INSEGNARE, SI PUÒ? BREVE GUIDA ALL'INSEGNAMENTO PER PSICOLOGI, LAUREATI E LAUREANDI IN PSICOLOGIA.</strong><br>
                Ordine Psicologi Lazio, Consulta Giovani, Webinar.<br>
                Sempre più colleghi si chiedono come poter accedere all'insegnamento nelle scuole e con la pubblicazione del nuovi bandi di concorso emergono numerosi dubbi a riguardo: a quali classi concorso posso accedere? Quali sono i requisiti richiesti? La Consulta dei Giovani Psicologi del Lazio presenterà un breve documento guida, elaborato con il supporto del Servizio Legale dell'Ordine degli Psicologi del Lazio, rivolto a psicologi, laureati e laureandi in psicologia.
                Ruolo: RELATORE<br>
                Data: 21/5/2020
            </li>
            <li><strong>WEBINAR 'TIROCINANDO - SECONDO INCONTRO DI ORIENTAMENTO AL TIROCINIO POST-LAUREAM IN PSICOLOGIA</strong><br>
                Ordine Psicologi Lazio, Consulta Giovani, Webinar.<br>
                La Consulta dei Giovani Psicologi del Lazio organizza quest'anno un secondo incontro per aiutarti a decidere al meglio il percorso di tirocinio da intraprendere, a saperne di più sugli aspetti normativi, le scadenze, gli ambiti di preferenza e le aspettative legate a questo percorso.
                Ruolo: RELATORE
                Data: 12/5/2020
            </li>
            <li><strong>L'importanza del momento presente - COME TROVARE LA GIUSTA CONCENTRAZIONE - i nemici della mente.</strong><br>
                Online, Canale Youtube. Boxelive.<br>
                Parliamo dell'importanza del momento presente, e di come ci siano alcuni fattori che ci impediscono di trovare la giusta concentrazione per porre in essere atteggiamenti vincenti. Analizzeremo alcuni costrutti e poi faremo un test dove ognuno potrà partecipare. Il test mirerà a sottolineare come alcuni fattori possono essere di ostacolo alla nostra concentrazione. Con noi ci sarà lo psicologo Manuel Luciani
                Ruolo: RELATORE
                Data: 5/4/2020
            </li>
            <li><strong>TIROCINANDO - INCONTRO DI ORIENTAMENTO AL TIROCINIO POST-LAUREAM IN PSICOLOGIA</strong><br>
                Casa della partecipazione, via Sabelli 88A, Roma. Ordine Psicologi Lazio Consulta Giovani.<br>
                Hai appena terminato la laurea magistrale e ora non ti resta che iniziare il tirocinio, l'ultimo passo che ti separa dall'abilitazione! Ma dove farlo? In che tipo di struttura? In Italia o all'estero? La Consulta dei Giovani Psicologi del Lazio ti aiuterà a decidere al meglio il percorso di tirocinio da intraprendere, a saperne di più sugli aspetti normativi, le scadenze, gli ambiti di preferenza e le aspettative legate a questo percorso.
                Ruolo: RELATORE
                Data: 27/1/2020
            </li>
            <li><strong>LO SPETTRO AUTOLESIONISTICO IN ADOLESCENZA</strong><br>
                CONGRESSO SIPSIC (Società Italiana di Psicoterapia), Bologna.<br>
                PRESENTAZIONE SEZIONE POSTER
                Ruolo: RELATORE
                Data: 5/10/2019
            </li>
            <li><strong>ADDICTION E SPETTRO AUTOLESIONISTICO IN ADOLESCENZA.</strong><br>
                CONGRESSO SIPSIC (Società Italiana di Psicoterapia). Bologna. SIMPOSIO<br>
                Ruolo: RELATORE
                Data: 5/10/2019
            </li>
    </div>

        <!-- Sezione Album Attestati e Premi -->
    <div style="background: rgba(249, 241, 226, 0.6); padding: 30px; border-radius: 8px; margin-bottom: 60px;">
        <h2 style="text-align: center; color: #006888; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); margin-bottom: 20px;">
            ATTESTATI E PREMI
        </h2>

        <!-- Galleria -->
        <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    gap: 20px; justify-items: center; align-items: center;">

            <!-- Sostituisci i nomi file con i tuoi -->
            <img src="{{ url_for('static', filename='images/attestati/at1.webp') }}" 
                 alt="Attestato 1" 
                 style="width: 100%; max-width: 350px; border-radius: 8px; 
                        box-shadow: 0 4px 10px rgba(0,0,0,0.15); object-fit: contain; background-color: #fff;">

            <img src="{{ url_for('static', filename='images/attestati/at.webp') }}" 
                 alt="Attestato 2" 
                 style="width: 100%; max-width: 350px; border-radius: 8px; 
                        box-shadow: 0 4px 10px rgba(0,0,0,0.15); object-fit: contain; background-color: #fff;">

            <img src="{{ url_for('static', filename='images/attestati/dp.webp') }}" 
                 alt="Attestato 3" 
                 style="width: 100%; max-width: 350px; border-radius: 8px; 
                        box-shadow: 0 4px 10px rgba(0,0,0,0.15); object-fit: contain; background-color: #fff;">
            
            <img src="{{ url_for('static', filename='images/attestati/lm1.webp') }}" 
                 alt="Attestato 3" 
                 style="width: 100%; max-width: 350px; border-radius: 8px; 
                        box-shadow: 0 4px 10px rgba(0,0,0,0.15); object-fit: contain; background-color: #fff;">

            <img src="{{ url_for('static', filename='images/attestati/lp.webp') }}" 
                 alt="Attestato 3" 
                 style="width: 100%; max-width: 350px; border-radius: 8px; 
                        box-shadow: 0 4px 10px rgba(0,0,0,0.15); object-fit: contain; background-color: #fff;">

            <img src="{{ url_for('static', filename='images/attestati/lt1.webp') }}" 
                 alt="Attestato 3" 
                 style="width: 100%; max-width: 350px; border-radius: 8px; 
                        box-shadow: 0 4px 10px rgba(0,0,0,0.15); object-fit: contain; background-color: #fff;">
            
            <img src="{{ url_for('static', filename='images/attestati/pf.webp') }}" 
                            alt="Attestato 3" 
                            style="width: 100%; max-width: 350px; border-radius: 8px; 
                                    box-shadow: 0 4px 10px rgba(0,0,0,0.15); object-fit: contain; background-color: #fff;">

            <!-- Aggiungi altri immagini come questa -->
        </div>

        <p style="text-align: center; margin-top: 20px; color: #004f59; font-size: 14px;">
            *Clicca sulle immagini per ingrandirle (funzionalità opzionale)
        </p>
    </div>


    <!-- Stili per mobile -->
    <style>
        @media (max-width: 768px) {
            .home-title p:nth-of-type(1) {
                font-size: 28px !important;
            }

            .home-title p:nth-of-type(2) {
                font-size: 20px !important;
            }

            .home-title p:nth-of-type(3) {
                font-size: 16px !important;
            }
        }
    </style>

</section>
{% endblock %}
